{% from "../marcos/icons.njk" import logo, hamburger %}
<nav>
    <a class="icon" href="/">
       {{logo()}}
    </a>

    {# <ul class="navbar">
        li
    </ul> #}
    <a class="icon" href="">
        {{hamburger()}}
    </a>

</nav>
