---
layout: base.njk
title: Harsha Vardhan
---
<section class="intro">
    <div>
        I'm a
    </div>
    <div class="highlight">
        Web Developer,
    </div>
    <div class="highlight">
        Programmer.
    </div>
</section>
